@import "fonts.scss";
@import "vars.scss";

.term {
    color: black;
    font-family: $code-font-stack;

    // grid for stuff like fake "ls" commands
    &-grid {
        display: grid;
        grid-template-columns: 28% 28% 28% 28%;
        // grid-gap: 2rem;
        // padding-left: 1rem;
    }
    // grid for stuff like fake "ls" commands
    &-grid-single {
        display: grid;
        // grid-gap: 2rem;
        // padding-left: 1rem;
    }

    a {
        color: $gray;
    }
}

@media only screen and (max-width: 900px) {
    .term {
        color: black;
        font-family: $code-font-stack;

        // grid for stuff like fake "ls" commands
        &-grid {
            display: grid;
            grid-template-columns: 7rem 7rem 7rem;
            grid-gap: 2px;
            padding-left: 1rem;
        }
        // grid for stuff like fake "ls" commands
        &-grid-single {
            display: grid;
            grid-gap: 2px;
            padding-left: 1rem;
        }

        a {
            color: $gray;
        }
    }
}

a {
    font-family: $code-font-stack;

    // fake "directories" - printed with a slash after
    &.dir {
        color: $purple;
        &:after {
            content: "/";
            color: $purple;
            border-bottom: none;
            &:hover {
                border-bottom: none;
            }
        }
    }

    // fake "files"
    &.file {
        color: $green;
    }
}

// ul .term {
//     list-style-type: none;
//     padding: 4rem;
//     margin: none;
// }

.prompt {
    &.host {
        &:after {
            color: $light-gray;
            content: " :: ";
        }
    }
    &.path {
        &:after {
            color: $light-gray;
            content: " $ ";
        }
    }
}

.blinking-cursor {
    color: black;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}
