/*
    vars
*/

/***********************************
 *  1. colors
 ***********************************/

// international aerospace orange
$intl-orange: #ff4f00;
// international engineering orange
$eng-orange: #ba160c;
// safety yellow
$safety-yellow: #eed202;
// fire engine red
$fire-red: #ce2029;

// ansi VGA term colors
$cyan: cyan;
$blue: blue;
// VGA magenta
$purple: #aa00aa;
$green: #acc697;
$red: #ff0000;
$orange: orange;
$light-orange: yellow;

// body colors
$body-text-color: black;
$background: white;
$gray: hsl(0, 0%, 40%);
/* $light-gray: hsl(0, 0%, 75%); */
$light-gray: #65737e;

// link type colors
$link-color: $intl-orange;
$dir-color: $intl-orange;
$file-color: $red;
$symlink-color: $purple;

.color-intl-orange {
    color: $intl-orange;
}
.color-eng-orange {
    color: $eng-orange;
}
.color-vga-magenta {
    color: $purple;
}
.color-vga-red {
    color: $red;
}

/***********************************
 *  2. fonts
 ***********************************/

$font-size-base: 12pt;
$font-family-code: "Berkeley Mono", monospace, serif;
$font-family: $font-family-code;

/***********************************
 *  3. dimensions
 ***********************************/

$lh: 1.5rem; // vertical rhythm
$max-width: 80ch;
$breakpoint-wide: $max-width + 12ch;
