<!DOCTYPE html>
<!--
  The template is from Eliza Weisman, then edited by me, Jiahao Cai
  see the original at http://elizas.website
-->
<html>

<head>
  <link rel="icon" type="image/png" href="/favicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <title>{{ page.title }}</title>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116308654-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116308654-2');
</script>

</head>

<body>
  <div class="site">

    <div class="content">
      <main>
        <!-- begin subtemplate -->
        {{ content }}
        <!-- end subtemplate -->
      </main>
    </div>
  </div>

  </div>
</body>

</html>
