<!DOCTYPE html>
<!--
  The template is from Eliza Weisman, then edited by me, Jiahao Cai
  see the original at http://elizas.website
-->
<html>

<head>
  <link rel="icon" type="image/png" href="/favicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <title>{{ page.title }}</title>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116308654-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-116308654-1');
  </script>
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>
    $.getJSON("/quote.json", function (json) {
      var style = document.createElement('style');
      style.innerHTML =
        '@media screen and (max-width: 600px) {' +
        'div.quote {' +
        'visibility: hidden;' +
        'display: none;}' +
        '}' +
        'div.quote{width:15%;margin-top: 20px;position: absolute;margin-left: 70%;margin-right: 5%;height:0;max-width: 300px;min-width: 200px;}'
      var site = document.getElementsByClassName("site")[0];
      document.body.insertBefore(style, site);
      index = Math.floor(Math.random() * json.length);
      var _quote = json[index];
      console.log(index);
      console.log(_quote); // this will show the info it in firebug console
      var quote = document.createElement("div");
      quote.className = 'quote';
      quote.innerHTML = _quote.saying + '<p align="right"> --' + _quote.author + '</p>';
      // quote.style.cssText = "width:15em;margin-top: 20px;position: absolute;margin-left: 70%;margin-right: 5%;height:0;";
      document.body.insertBefore(quote, site);
    });
  </script> -->
</head>

<body>
  <div class="site">

    <div class="content">
      <main>
        <!-- begin subtemplate -->
        {{ content }}
        <!-- end subtemplate -->
      </main>
    </div>
  </div>

  </div>
</body>

</html>