---
layout: common
---

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
$.getJSON("/quote.json", function (json) {
  var style = document.createElement('style');
  style.innerHTML =
    '@media screen and (max-width: 600px) {' +
    'div.quote {' +
    'visibility: hidden;' +
    'display: none;}' +
    '}' +
    'div.quote{width:10%;margin-top: 20px;position: absolute;margin-left: 50rem;margin-right: 2em;height:0;max-width: 350px;min-width: 250px;font-family:"Monaco", monospace;font-size: 0.8rem;}'
  var site = document.getElementsByClassName("site")[0];
  document.body.insertBefore(style, site);
  index = Math.floor(Math.random() * json.length);
  var _quote = json[index];
  console.log(index);
  console.log(_quote);
  var quote = document.createElement("div");
  quote.className = 'quote';
  quote.innerHTML = '<i>' + _quote.saying + '</i><p align="right"> --' + _quote.author + '</p>';
  // quote.style.cssText = "width:15em;margin-top: 20px;position: absolute;margin-left: 70%;margin-right: 5%;height:0;";
  document.body.insertBefore(quote, site);
});
</script>

<header class="term">
    <!-- TODO: make these into <p>s? -->
    <span class = "prompt host">jiahao-cai.info</span>
    <span class = "prompt path">~</span> ls
    <nav class="term-grid">
        {% for nav in site.nav %}
            <span>
                <a class="term-nav {{nav.kind}}"
                   href="{{ nav.href }}">{{ nav.name }}</a>
            </span>
            {% endfor %}
    </nav>
    <span class = "prompt host">jiahao-cai.info</span>
    <span class = "prompt path">~</span> cd {{page.pwd}}
    <br />
    <span class = "prompt host">jiahao-cai.info</span>
    <span class = "prompt path">~{% if page.pwd %}{{page.pwd | prepend: "/"}}{% endif %}
    </span> {{page.cmd}}
</header>
<main>
    <!-- begin content -->
    {{ content }}
    <!-- end content -->
</main>
<footer class="term">
    <span class = "prompt host">jiahao-cai.info</span>
    <span class = "prompt path">~{% if page.pwd %}{{page.pwd | prepend: "/"}}{% endif %}</span>
    <span class = "blinking-cursor">_</span>
</footer>
