---
layout: common
---

<script>
fetch("/quote.json").then(function (r) { return r.json(); }).then(function (json) {
  var _quote = json[Math.floor(Math.random() * json.length)];
  var site = document.getElementsByClassName("site")[0];
  var quote = document.createElement("div");
  quote.className = 'quote';
  quote.innerHTML = '<i>' + _quote.saying + '</i><p align="right"> --' + _quote.author + '</p>';
  document.body.insertBefore(quote, site);
});
</script>

<header class="term">
    <!-- TODO: make these into <p>s? -->
    <span class = "prompt host">jiahao-cai.info</span>
    <span class = "prompt path">~</span> ls
    <nav class="term-grid">
        {% for nav in site.nav %}
            <span>
                <a class="term-nav {{nav.kind}}"
                   href="{{ nav.href }}">{{ nav.name }}</a>
            </span>
            {% endfor %}
    </nav>
    <span class = "prompt host">jiahao-cai.info</span>
    <span class = "prompt path">~{% if page.pwd %}{{page.pwd | prepend: "/"}}{% endif %}</span> {{page.cmd}}
</header>
<main>
  <!-- begin content -->
  {{ content }}
  <!-- end content -->
</main>
<footer class="term">
    <span class = "prompt host">jiahao-cai.info</span>
    <span class = "prompt path">~{% if page.pwd %}{{page.pwd | prepend: "/"}}{% endif %}</span>
    <span class = "blinking-cursor">_</span>
</footer>
